.logo-section {
    margin-left: 10px;
    width: 50px;
    height: 50px;

    .logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}

.header-container {
    padding-top: 22px;
    margin: 0px 20px;

    .header-layout {
        display: flex;
        justify-content: space-between;
        align-items: end;

        .discover-text {
            font-weight: 700;
            font-size: 32px;
        }

        .bell-icon {
            cursor: pointer;
        }
    }
}